{% extends "base.html" %}

{% block content %}
<h2>{{ city.city }}</h2>
<div class="col-md6 border rounded">
    <div>
        <h5>Население:</h5> {{city.count_of_people}}
        <p></p>
    </div>
    <div>
        <h5>Море:</h5> {{"есть" if city.sea else "нет"}}
        <p></p>
    </div>
    <div>
        <h5>Метро:</h5> {{"есть" if city.subway else "нет"}}
        <p></p>
    </div>
    <div>
        <h5>Координаты:</h5> {{ coord }}
        <p></p>
    </div>
    <div>
        <h5>Подробная информация:</h5>
        <p>
            {{city.information}}
        </p>
    </div>
    <div>
        <h5>Автор:</h5> <a href="/users/{{city.user_id}}">{{city.user.name}}</a>
        <p></p>
    </div>
    <div>
        {% if not selected%}
            <a href="/like/{{ city.id }}" class="btn btn-success" style="font-size: 12px">
                    Добавить в избранное
            </a>
        {% else %}
            <a href="/unlike/{{ city.id }}" class="btn btn-danger" style="font-size: 12px">
                    Удалить из избранного
            </a>
        {% endif %}
    </div>
</div>
{% endblock %}