{% extends "base.html" %}

{% block content %}
<h1>Добавление города</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.city.label }}<br>
        {{ form.city(class="form-control") }}<br>
        {% for error in form.city.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.count_of_people.label }}<br>
        {{ form.count_of_people(class="form-control") }}<br>
        {% for error in form.count_of_people.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.is_capital.label }}<br>
        {{ form.is_capital(class="form-control") }}<br>
        {% for error in form.is_capital.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.subway.label }}<br>
        {{ form.subway(class="form-control") }}<br>
        {% for error in form.subway.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-warning") }}</p>
    {{message}}
</form>
{% endblock %}