{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated %}
<h1>Список городов</h1>
{% if current_user.is_authenticated %}
    <p></p>
    <a href="/cities" class="btn btn-dark">Добавить город</a>
    <p></p>
{% endif %}
{% for item in news%}
<div class="col-md6 border rounded">
    <h3>{{item.city}}</h3>
    <div>
        Население: {{item.count_of_people}}
    </div>
    <div>
        Метро: {{"есть" if item.subway else "нет"}}
    </div>
    <div>
        <h5>Автор - {{item.user.name}}</h5>
    </div>
    <nav>
            <a class="btn btn-dark" href="/info" style="font-size: 12px">Подробнее</a>

    {% if current_user.is_authenticated and current_user == item.user %}
        <a href="/cities/{{ item.id }}" class="btn btn-warning" style="font-size: 12px">
            Изменить
        </a>
        <a href="/cities_delete/{{ item.id }}" class="btn btn-danger" style="font-size: 12px">
            Удалить
        </a>
    {% endif %}
    </nav>
    </div>
{% endfor %}
{% else %}
<h4> сначала зарегистрируйтесь</h4>
{% endif %}
{% endblock %}