<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}" />
    <link rel="shortcut icon" href="{{  url_for('static', filename='favicon.ico')  }}">
    <title>{{title}}</title>
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-dark">
        <a style="color: gold; margin-left: 0; margin-right: auto; width: 16em;font-size: 2rem;" href="/">City-manager</a>
        {% if current_user.is_authenticated %}
        <p>
            <a class="btn btn-light" href="/main">Города</a>
            <a class="btn btn-warning" href="/users/{{ current_user.id }}">{{ current_user.name }}</a>
        </p>

        {% else %}
        <p>
            <a class="btn btn-light" href="/register">Зарегистрироваться</a>
            <a class="btn btn-warning" href="/login">Войти</a>
        </p>
        {% endif %}
    </nav>
</header>
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>