{% extends "base.html" %}

{% block content %}
<h2>Избранное</h2><br>
{% if cities %}
{% for item in cities%}
<div class="col-md6 border rounded">
    <h3>{{item.city}}</h3>
    <nav>
            <a class="btn btn-warning" href="/info/{{ item.id }}" style="font-size: 12px">Подробнее</a>
            <a class="btn btn-danger" href="/unlike/{{ item.id }}" style="font-size: 12px">Удалить из избранного</a>
    </nav>
</div>
<p></p>
{% endfor %}
{% else %}
<h5 class="selected_cities">Упс, кажется, вы ничего не добавляли</h5>
{% endif %}
{% endblock %}